.color1{
    background:#5eb319;
}
.white{
    color: #ffffff;
}
.pdf{
    background: #fff !important;
}
.animate{
    animation-name: animate;
    animation-duration: 2ms;
    animation-direction: normal;
}
@keyframes animate {
    from{
        position: absolute;
        top: 10%;
    }
    to{
        position: absolute;
        top: -10%;
    }
}
